<div class="module help" style="display: none">
    <a class="btn-exit" href="#"><img src="~/images/close.svg" alt="Close" /></a>
    
    <p>Posnetki v korpusu GOS so zapisani na dva načina: tako, kot je izgovorjeno (pogovorno), in tako, kot pišemo (standardizirano).<br/>
        Iščeš lahko po enem ali drugem zapisu govora.
    </p>

    <h5>Enostavno iskanje po pogovornem zapisu:</h5>
    <p>Vpiši besedo ali frazo tako, kot je bila izgovorjena (<em>rjeku; rekel; sma bla</em>). Rezultat bo povsem enak vpisani besedi ali frazi (<em>rjeku; rekel; sma bla</em>).</p>

    <h5>Enostavno iskanje po standardiziranem zapisu:</h5>
    <p>Vpiši besedo ali frazo tako, kot zapišemo. Rezultati bodo vsebovali vse izgovorjave in vse oblike besede ali fraze:<br/>
        iskanje <em>rekel</em> vrne <em>emreku, rekla, reči</em>...<br/>
        iskanje <em>je rekel</em> vrne <em>sva rekla, bo rekel, so rekl</em>...
    </p>
    <p>Če iščeš točno določeno obliko besede ali fraze, jo daj v narekovaje. Rezultati bodo vsebovali vse izgovorjave samo te oblike besede:<br/>
        iskanje <em>"je" rekel</em> vrne <em>je reku, je rekla</em>...<br/>
        iskanje <em>"je" "rekel"</em> vrne <em>je reku, je rekel, je rjeku</em>...
    </p>
</div>