<div class="module help" style="display: none">
    <a class="btn-exit" href="#"><img src="~/images/close.svg" alt="Close" /></a>
    
    <p>The speech recorded is transcribed in two different ways in the corpus: in an informal manner, i.e. the way words are pronounced, and in the standardized form.<br/>
        It is possible to search by either spelling form.
    </p>

    <h5>Simple search by pronunciation-based spelling:</h5>
    <p>Enter a word or phrase the way it is pronounced (<em>rjeku; rekel; sma bla</em>). The results will contain only the exact form of the word or phrase (<em>rjeku; rekel; sma bla</em>).</p>

    <h5>Simple search by standardized spelling:</h5>
    <p>Enter a word or phrase the way it is written in standard Slovene. The results will contain all pronunciation variants and grammatical forms of the word or phrase:<br/>
        search: <em>rekel</em> produces: <em>reku, rekla, reči,</em> etc.<br/>
        search: <em>je rekel</em> produces: <em>sva rekla, bo rekel, so rekl,</em> etc.
    </p>
    <p>When searching for a specific grammatical form of a word or phrase, each individual word should be put in quotes. The results will contain all pronunciation variants of this grammatical form of the word or phrase:<br/>
        search: <em>"je" rekel</em> produces: <em>je reku, je rekla</em>...<br/>
        search: <em>"je" "rekel"</em> produces: <em>je reku, je rekel, je rjeku</em>...
    </p>
</div>