<div class="module help" style="display: none">
    <a class="btn-exit" href="#"><img src="~/images/close.svg" alt="Close" /></a>
    
    <p>In lists you can search only for individual words.</p>
    
    <p>When searching by <strong>pronunciation-based spelling</strong>, you can search only for the exact form of the word entered in the search field.</p>
    
    <p>When searching by <strong>standardized spelling</strong>, you can choose between the following options:<br/>
        - all forms (i.e. all grammatical forms of the word, e.g. if you enter <em>kaj</em>, the results will include all examples from the pronunciation-based transcripts with the basic form <em>kaj</em> (so also <em>čem, česa, čemu, kva</em> etc.)<br/>
        - only this form (i.e. only the grammatical form entered, e.g. if you enter <em>kaj</em>, the results will include those examples from the pronunciation-based transcripts that are spelled as <em>kaj</em> in standardized transcripts).
    </p>
    
    <p>When creating a list, you can use the following wild card characters:<br/>
        <strong>*</strong> matches one or more characters<br/>
        <strong>?</strong> matches one character.
    </p>
</div>