<div class="module help" style="display: none">
    <a class="btn-exit" href="#"><img src="~/images/close.svg" alt="Close" /></a>
    
    <p>V seznamih lahko iščeš le posamezno besedo.</p>
    
    <p>Po <strong>pogovornem zapisu</strong> lahko iščeš le točno tako besedo kot jo vpišeš v iskalno okence.</p>
    
    <p>Po <strong>standardiziranem zapisu</strong> lahko izbiraš način iskanja:<br/>
        - vse oblike besed (npr. iskanje <em>kaj</em>, vrne vse pogovorne zapise, katerih standardizirana osnovna oblika je <em>kaj</em> (tudi <em>čem, česa, čemu</em>...)<br/>
        - samo vpisana oblika (npr. iskanje <em>kaj</em> vrne samo pogovorne zapise, ki so standardizirano zapisani kot <em>kaj</em>)
    </p>
    
    <p>Pri izdelavi seznama lahko uporabljaš nadomestna znaka:<br/>
        <strong>*</strong> nadomešča vse znake<br/>
        <strong>?</strong> nadomešča en znak
    </p>
</div>