@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="bx--grid about" style="margin-top:2rem;">
    <div class="bx--row">
        <div class="bx-col">
            <div class="panel">
                <h3>O viru</h3>
                <p>
                    GOS je referenčni korpus govorjene slovenščine. Obsega transkripcije okrog 320 ur posnetkov (po)govora v najrazličnejših situacijah, ki smo jim izpostavljeni vsak dan: od radijskih in televizijskih oddaj prek šolskih ur in predavanj do zasebnih pogovorov med prijatelji ali v krogu družine ter raznih delovnih sestankov, svetovanj, pogovora ob prodaji, storitvah ipd. Zapis govora na posnetkih je narejen v dveh različicah, standardizirani in pogovorni, ter obsega več kot dva milijona besed.
                </p>
                <p>
                    Korpus GOS 2.0 je najnovejša različica korpusa, ki je nastala v okviru projekta <a href="https://slovenscina.eu/">Razvoj slovenščine v digitalnem okolju</a> z združitvijo korpusov GOS 1.1, GOS VideoLectures in dela govorne baze Artur. V primerjavi s <a href="http://www.korpus-gos.net/">prvotno različico</a> korpus GOS 2.0 vsebuje več kot podvojeno količino posnetkov in transkripcij, zaradi poenotenja vseh treh virov pa so bila nekoliko spremenjena tudi načela zapisovanja govora. Pri zasnovi korpusa GOS 2.0 je bila posebna pozornost namenjena njegovi aktualnosti (posnetki zajemajo obdobje od leta 2007 do 2022) in uravnoteženosti glede na različne tipe govornih dogodkov.
                </p>
                <p>
                    Po korpusu lahko iščemo prek spletnega vmesnika na teh spletnih straneh, ki poleg različnih možnosti iskanja po obeh ravneh zapisa omogoča tudi poslušanje pripadajočih posnetkov in filtriranje zadetkov po bogatem naboru metapodatkov, kot so vrsta dogodka in komunikacijski kanal ter spol, starost, izobrazba in regionalna pripadnost govorca. Za jezikoslovno rabo je korpus prosto dostopen tudi v konkordančnikih <a href="https://www.clarin.si/noske/sl.cgi/corp_info?corpname=gos20">NoSketchEngine</a> in <a href="https://www.clarin.si/kontext/query?corpname=gos20">Kontext</a>, ki jih vzdržuje raziskovalna infrastruktura CLARIN.SI.
                </p>
            </div>
        </div>
    </div>
</div>