@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="bx--grid about" style="margin-top:2rem;">
    <div class="bx--row">
        <div class="bx-col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante id finibus sagittis. Nunc vitae neque nunc. Vestibulum malesuada iaculis orci eu elementum. Cras lacinia libero ac porttitor egestas. Ut luctus turpis vitae vehicula sagittis. Cras pellentesque tempus augue vel volutpat. Praesent nec tincidunt ligula. Vivamus sit amet ipsum tristique, tincidunt enim ut, laoreet orci.</div>
    </div>
</div>