@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var currentDate = DateTime.UtcNow.ToString("dd. MM. yyyy");
}

<div class="bx--grid about" style="margin-top:2rem;">
    <div class="bx--row">
        <div class="bx--col">
            <a class="panel panel-short active" href="#kolofon" data-set-active="kolofon" style="">
                <h4 class="text-red">The Gos 2.1 Corpus</h4>
                <p>The corpus of spoken Slovene</p>
                <div class="bottom-url">
                    <h5 class="weight-semi-bold">Impressum <div class="carbon-icon" data-icon="chevron--right"><img src="~/images/chevron--right.svg" /></div></h5>
                </div>
            </a>
            <a class="panel panel-short" href="#about" data-set-active="about">
                <h4 class="text-red">About the Corpus</h4>
                <p>The Gos 2.1 corpus is a reference corpus of spoken Slovene consisting of more than 300 hours of recordings of spontaneous speech in various situations.</p>
                <div class="bottom-url">
                    <h5 class="weight-semi-bold">About the resource <div class="carbon-icon" data-icon="chevron--right"><img src="~/images/chevron--right.svg" /></div></h5>
                </div>
            </a>
            <a class="panel panel-short" href="#versions" data-set-active="versions">
                <h4 class="text-red">Current version</h4>
                <p>
                    The current version of the corpus is 2.1<br/>
                    Date of last update: 28.2.2023
                </p>
                <div class="bottom-url">
                    <h5 class="weight-semi-bold">Archive <div class="carbon-icon" data-icon="chevron--right"><img src="~/images/chevron--right.svg" /></div></h5>
                </div>
            </a>             
            <div class="panel panel-short">
                <h4 class="text-red">Accessibility</h4>
                <p>
                    The corpus transcriptions are accessible on the <a href="https://www.clarin.si/info/about/">CLARIN.SI</a> repository under the following license: <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike International 4.0.</a>
                </p>
                <a class="bottom-url" href="http://hdl.handle.net/11356/1771" target="_blank">
                    <h5 class="weight-semi-bold">Corpus transcriptions <div class="carbon-icon" data-icon="chevron--right"><img src="~/images/chevron--right.svg" /></div></h5>
                </a>
            </div>
        </div>
        <div class="bx--col">
            <div class="panel" data-hash="kolofon" style="display: none;">
                <h3>Gos 2.1</h3>
                <p>
                    The corpus of spoken Slovene<br />
                    Ljubljana, 2023
                </p>

                <p>This work is licensed under a Creative Commons licence: Creative Commons Attribution-ShareAlike International 4.0.</p>

                <p>
                    <strong>Authors of the Gos 2.1 corpus</strong><br />
                    Darinka Verdonik, Ana Zwitter Vitez, Jana Zemljarič Miklavčič, Simon Krek, Marko Stabej, Tomaž Erjavec, Tomaž Potočnik, Mirjam Sepesy Maučec, Simona Majhenič, Andrej Žgank, Andreja Bizjak, Lucija Gril, Simon Dobrišek, Janez Križaj, Marko Bajec, Iztok Lebar Bajec, Tjaša Jelovšek, Mitja Trojar, Mitja Bernjak, Naum Dretnik, Gregor Strle, Kaja Dobrovoljc, Nikola Ljubešić, Peter Rupnik
                </p>
                
                <p>
                    <strong>Interface design</strong><br />
                    Gašper Uršič (Studio Kruh)
                </p>
                <p>
                    <strong>Interface development</strong><br />
                    Rok Rejc
                </p>
                <p>
                    <strong>Interface editing</strong><br />
                    Kaja Dobrovoljc, Jaka Čibej, Polona Gantar, Špela Arhar Holdt, Iztok Kosem, Simon Krek, Luka Terčon
                </p>
                <p>
                    <strong>Published by</strong><br />
                    Center for Language Resources and Technologies, University of Ljubljana
                </p>
                <p>
                    <strong>Citation</strong><br />
                    D. Verdonik, A. Zwitter Vitez, J. Zemljarič Miklavčič, S. Krek, M. Stabej, T. Erjavec, T. Potočnik, M. Sepesy Maučec, S. Majhenič, A. Žgank, A. Bizjak, L. Gril, S. Dobrišek, J. Križaj, M. Bajec, I. Lebar Bajec, T. Jelovšek, M. Trojar, M. Bernjak, N. Dretnik, G. Strle, K. Dobrovoljc, N. Ljubešić, P. Rupnik. (2023). Korpus Gos 2.1: Korpus govorjene slovenščine. Center za jezikovne vire in tehnologije. Pridobljeno 09. 05. 2024, https://viri.cjvt.si/gos, accessed on @currentDate
                </p>
            </div>
            <div class="panel" data-hash="about" style="display: block;">
                <h3>About the Resource</h3>
                <p>
                    Gos is a reference corpus of spoken Slovene. It consists of transcriptions of around 320 hours of recorded speech in a wide array of situations, which occur in everyday life: from radio and television shows to school lessons and lectures, private conversations between friends or family and various work meetings, consultations, commercial conversations etc. The speech database is transcribed in two different versions - a standardized version and a pronunciation-based version - and comprises more than two million words.
                </p>
                <p>
                    The Gos 2.1 corpus is the newest iteration of the corpus. The new version was created as part of the <a href="https://slovenscina.eu/">Development of Slovene in a Digital Environment</a> project with the merging of the Gos 1.1 and Gos VideoLectures corpora and a part of the Artur speech database. Compared to the <a href="http://www.korpus-gos.net/">first version</a>, Gos 2.1 contains more than twice the amount of recordings and transcriptions, while using a somewhat altered method for speech transcription, due to the merging of all three datasets. During the planning stage for the new version, special attention was given to its currency (the recordings span a period from the year 2007 to 2022) and to how balanced it is with respect to the different types of speech events it contains.
                </p>
                <p>
                    The corpus can be accessed through a web interface on this website. In addition to various options for searching through both types of transcription, the web concordancer also supports playback of sound recordings and result filtering using a wide array of metadata, such as event type, communications channel, gender, age, education and the speaker’s region of origin. For linguistic usage, the corpus is also available in the <a href="https://www.clarin.si/ske/#dashboard?corpname=gos20">noSketchEngine</a> and <a href="https://www.clarin.si/kontext/query?corpname=gos20">Kontext</a> concordancers, maintained by the <a href="https://www.clarin.si/">CLARIN.SI</a> research infrastructure.
                </p>
            </div>
            <div class="panel" data-hash="versions" style="display: none;">
                <h3>Versions</h3>
                <p>
                    Version<br/>
                    <strong>The corpus of spoken Slovene Gos 2.1</strong>
                </p>
                <p>Date of last update: 9. 5. 2024</p>
            </div>
        </div>
    </div>
</div>
