@import 'cjvt-theme';

body.list.index {
    .search-input #posIcon {
        position: absolute;
        right: 3rem;
    }    
    
    .search-dropdown.pos {
        display: flex;

        .condition {
            border-right: 1px solid $grey-b-94;
            padding: 1rem;

            h3 {
                color: $grey-b-40;
                font-size: 0.75rem;
                font-weight: normal;
                margin-bottom: 0.75rem;
            }
        }

        .pos {
            flex-grow: 1;

            ul {
                max-height: 17.5rem;
                overflow: auto;

                li {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    height: 3.5rem;
                    padding: 0 1rem;

                    .name {
                        color: $ui-black;
                        flex-grow: 1;
                        font-size: 0.875rem;
                    }

                    .details {
                        align-items: center;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        display: none;
                        height: 2rem;

                        img {
                            height: 1rem;
                            width: 1rem;
                        }
                    }

                    &:hover {
                        background-color: $grey-b-96;

                        .details {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
