@using Gos.Web.UrlHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="navbar bg-red">
    <div class="bx--grid primary-navbar">
        <div class="bx--row">
            <div class="bx--col-md-4">
                <a href="@Url.Action("Index", "Concordance")" class="logo">
                    <img src="~/images/logo-full.svg" alt="CJVT Gos" class="hide-on-phone" />
                    <img src="~/images/logo.svg" alt="CJVT Gos" class="show-on-phone" />
                </a>
            </div>
            <div class="bx--col-md-4">
                <div class="pages">
                    <a href="@Url.Action("About", "System")"><span>@SharedResource["About"]</span></a>
                    <div class="dropdown">
                        <a class="dropbtn">
                            Slovenščina
                            <div class="carbon-icon" data-icon="chevron--down--white"><img src="~/images/chevron--down--white.svg"></div>
                        </a>
                        <div class="dropdown-content">
                            <a href="/slovensko-madzarski/slv/">Slovenščina</a>
                            <a href="/slovensko-madzarski/eng/">English</a>
                            <a href="/slovensko-madzarski/hun/">Magyar</a>
                        </div>
                        <a class="viri-btn-full" href="https://viri.cjvt.si/"><div class="carbon-icon" data-icon="switcher"><img src="~/images/switcher.svg"></div> <span>Vsi viri</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white secondary-navbar">
        <div class="bx--grid">
            <div class="bx--row" style="height: 4rem;">
                <div class="bx--col">
                    <div style="position: relative; padding-top: 0.5rem;">
                        <div class="icons">
                            <div class="icon-item" id="share-fb"><div class="carbon-icon" data-icon="logo--facebook"><img src="~/images/logo--facebook.svg" alt="Facebook" /></div></div>
                            <div class="icon-item" id="share-twitter"><div class="carbon-icon" data-icon="logo--twitter"><img src="~/images/logo--twitter.svg" alt="Twitter"></div></div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</header>
@RenderBody()