<div class="module history" style="display: none;">
    <h5>@SharedResource["History"]</h5>
    <a class="btn-exit" href="#"><img src="~/images/close.svg" alt="Close" /></a>
    <div class="items"></div>
</div>